<body>
    <app-user-menu></app-user-menu>
  
    <div class="main-content">
      <!-- Project Details -->
      <div class="project-details">
        <div class="project-details-header">
          <h3>Adicionar Projeto</h3>
        </div>
        <hr>
      </div>
  
      <form (ngSubmit)="onSubmit()" class="add-project-form">
        <!-- Text-Fields -->
        <div class="first-column">
          
            <div class="form-item">
              <label>Nome</label><br>
              <input type="text" [(ngModel)]="nome" name="nome" />
            </div>
            <div class="form-item">
              <label>Preço</label><br>
              <input type="number" [(ngModel)]="preco" name="preco" />
            </div>
            <div class="form-item">
              <label>Localização</label><br>
              <input type="text" [(ngModel)]="localizacao" name="localizacao" />
            </div>
            <div class="form-item">
              <div class="form-item">
                <label>Descrição</label><br>
                <textarea [(ngModel)]="descricao" name="descricao"></textarea>
              </div>    
            </div>
            
            <div class="form-item">
              <label>Data de Início</label><br>
              <input type="date" [(ngModel)]="dataInicio" name="dataInicio" />
            </div>
    
            <div class="form-item">
              <label>Data de Fim</label><br>
              <input type="date" [(ngModel)]="dataFim" name="dataFim" />
            </div>
    
            <div class="form-item">
              <label>Desenvolvedor</label><br>
              <input type="text" [(ngModel)]="desenvolvedor" name="desenvolvedor" />
            </div>
    
            <div class="form-item">
              <label>Certificação</label><br>
              <input type="text" [(ngModel)]="certificacao" name="certificacao" />
            </div>
  
            <div class="form-item">
              <label>URL do Projeto</label><br>
              <input type="text" [(ngModel)]="urlProjeto" name="urlProjeto" />
            </div>
           
  
        </div>
        <!-- Category Fields -->
        <div class="second-column">
          <div class="form-item">
            <h2>Categorias (ODS)</h2>
            <div class="grid">
              <div *ngFor="let categoria of categorias">
                <label>
                  <input type="checkbox" (change)="onCategoriaChange(categoria.id, $event)" class="custom-checkbox" />
                  {{categoria.label}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Documents and files -->
        <div class="third-column">
          <div class="form-item-image">
            <h2>Imagem do Projeto</h2>
            <div class="form-item-image-wrap">
              <input type="file" (change)="onImageChange($event)" accept="image/*" id="imageInput"/>
              <div *ngIf="imagePreviewUrl" class="imagePreview">
                <img [src]="imagePreviewUrl" alt="Preview da Imagem" />
              </div>
            </div>
          </div>
          <div class="form-item">
            <h2>Documentos</h2>
            <div
            class="drag-area"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"
            (dragleave)="onDragLeave($event)"
            (click)="fileInput.click()"
          >
            <p>Arraste e solte arquivos aqui ou clique para selecionar</p>
            <input
              #fileInput
              type="file"
              (change)="onFileChange($event)"
              multiple
              style="display:none"
            />
  
            <!-- Display uploaded files -->
            <ul *ngIf="documentos.length > 0" class="file-list">
              <li *ngFor="let documento of documentos">{{ documento.name }}</li>
            </ul>
          </div>
          </div>

        </div>
        
        
  
        
  
       
  
        <button type="submit">Adicionar</button>
      </form>
    </div>
  </body>
  