<body>
  <app-user-menu></app-user-menu>

  <!-- Default User Content -->
  <div class="main-content" *ngIf="userRole == 0">
    <h1>Dashboard</h1>
    <div class="dashboard-cards">
      <div class="card green">
        <h2>Número de créditos de carbono</h2>
        <div>
          <img src="images/CO2-W.png" />
          <p> {{CreditCount}}</p>
        </div>
      </div>
      <div class="card yellow">
        <h2>Projetos em curso</h2>
        <div>
          <img src="images/OnGoingProjects.png" />
          <p> {{ProjectCount}}</p>
        </div>
      </div>
      <div class="card blue">
        <h2>Total de Emissões</h2>
        <p>tCO<sub>2</sub>: {{emissions}}</p>
      </div>
    </div>

    <div class="table-container">
      <div class="table">
        <h2>Últimas Compras</h2>
        <table>
          <thead>
            <tr>
              <th>Projeto</th>
              <th>Data</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="purchases.length === 0">
              <td colspan="4" class="text-center" id="nothingToShow">Nada a mostrar!</td>
            </tr>
            <tr *ngFor="let purchase of purchases">
              <td>{{purchase.project}}</td>
              <td>{{purchase.date}}</td>
              <td><button class="details-button" (click)="transactionDetails(purchase.id)">Ver detalhes</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table">
        <h2>Últimas Vendas</h2>
        <table>
          <thead>
            <tr>
              <th>Projeto</th>
              <th>Data</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="sales.length === 0">
              <td colspan="4" class="text-center" id="nothingToShow">Nada a mostrar!</td>
            </tr>
            <tr *ngFor="let sale of sales">
              <td>{{sale.project}}</td>
              <td>{{sale.date}}</td>
              <td><button class="details-button" (click)="transactionDetails(sale.id)">Ver detalhes</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Admin User Content -->
  <!-- <main class="dashboard" *ngIf="userRole == 1">
    
    <h1>Admin Dashboard</h1>
    <div class="cards">
      <div class="card orange">
        <h3>Número Diário de Visitas</h3>
        <div>
          <img src="images/ViewsIconB.png" class="icon" />
          <span class="value">20</span>
        </div>
      </div>
      <div class="card blue">
        <h3>Número Total de Utilizadores</h3>
        <div>
          <img src="images/UserIconB.png" class="icon" />
          <span class="value">50</span>
        </div>
      </div>
      <div class="card yellow">
        <h3>Número Total de Projetos Disponíveis</h3>
        <div>
          <img src="images/OnGoingProjects.png" class="icon" />
          <span class="value">25</span>
        </div>
      </div>
      <div class="card purple">
        <h3>Número de Transações Feitas</h3>
        <div>
          <img src="images/TransactionsIconB.png" class="icon" />
          <span class="value">10</span>
        </div>
      </div>
      <div class="card green">
        <h3>Número Total de Créditos de Carbono Disponíveis</h3>
        <div>
          <img src="images/CO2-B.png" />
          <span class="value">100</span>
        </div>
      </div>
    </div>

    <div class="charts">
      <div class="chart-box line">
        <canvas id="MyLineChart">{{ lineChart }}</canvas>
        <button class="export-btn">Exportar</button>
      </div>

      <div class="chart-box">
        <canvas id="MyCircularChart">{{ circularChart }}</canvas>
        <button class="export-btn">Exportar</button>
      </div>
    </div>
  </main> -->
  <app-admin-dashboard *ngIf="userRole == 1"
  [dailyVisits]="dailyVisits"
  [userCount]="userCount"
  [ProjectCount]="ProjectCount"
  [TransactionCount]="TransactionCount"
  [CreditCount]="CreditCount"
  ></app-admin-dashboard>

  <!-- Support User Content -->
  <app-support-dashboard *ngIf="userRole == 3"
  [TotalTickets]="TotalTickets"
  [TotalOpenTickets]="TotalOpenTickets"
  [TotalClosedTickets]="TotalClosedTickets"
  ></app-support-dashboard>
</body>