<body>
  <nav>
    <div>
      <div class="title">
        <img src="images/CV_Logo.png" class="logo" />
        <span class="navbar-title">Carbon Vault</span>
      </div>

      <div class="user-profile">
        <div class="user-circle">
          <span class="user-initial">G</span>
        </div>
        <span class="user-name">Gonçalo</span>
      </div>

      <h2 class="menu-title">MENU</h2>

      <ul class="menu">
        <li>
          <div class="active"></div>
          <img src="images/menu/DashboardIcon.png" class="menu-icon" />
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <img src="images/menu/EmissionsIcon.png" class="menu-icon" />
          <a href="/user-emissions">As minhas Emissões</a>
        </li>
        <li>
          <img src="images/menu/ProjectsIcon.png" class="menu-icon" />
          <a href="#">Os meus Projetos</a>
        </li>
        <li>
          <img src="images/menu/PurchasesIcon.png" class="menu-icon" />
          <a href="#">As minhas Compras</a>
        </li>
        <li>
          <img src="images/menu/SalesIcon.png" class="menu-icon" />
          <a href="#">As minhas Vendas</a>
        </li>
        <li>
          <img src="images/menu/RelatoriosIcon.png" class="menu-icon" />
          <a href="#">Relatórios</a>
        </li>
        <li>
          <img src="images/menu/MarketplaceIcon.png" class="menu-icon" />
          <a href="#">Marketplace</a>
        </li>
        <li>
          <img src="images/menu/SettingsIcon.png" class="menu-icon2" />
          <a href="#">Definições</a>
        </li>
        <li>
          <img src="images/menu/LogoutIcon.png" class="menu-icon2" />
          <a href="#" class="logout">Terminar Sessão</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main-content">
    <h1>Dashboard</h1>
    <div class="dashboard-cards">
      <div class="card green">
        <h2>Número de créditos de carbono</h2>
        <div>
          <img src="images/CO2-W.png"/>
          <p> 21</p>
        </div>
        <!--<p>CO<sub>2</sub>: 21</p>-->
      </div>
      <div class="card yellow">
        <h2>Projetos em curso</h2>
        <div>
          <img src="images/OnGoingProjects.png" />
          <p> 4</p>
        </div>
      </div>
      <div class="card blue">
        <h2>Total de Emissões</h2>
        <p>tCO<sub>2</sub>: 1021</p>
      </div>
    </div>

    <div class="table-container">
      <div class="table">
        <h2>Últimas Compras</h2>
        <table>
          <thead>
            <tr>
              <th>Vendedor</th>
              <th>Data</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rúben Dámaso</td>
              <td>9/10/2025 18:36:23</td>
              <td><button class="details-button">Ver detalhes</button></td>
            </tr>
            <tr>
              <td>Rodrigo Santos</td>
              <td>13/10/2025 21:31:46</td>
              <td><button class="details-button">Ver detalhes</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table">
        <h2>Últimas Vendas</h2>
        <table>
          <thead>
            <tr>
              <th>Comprador</th>
              <th>Data</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>João Fernandes</td>
              <td>9/10/2025 18:36:23</td>
              <td><button class="details-button">Ver detalhes</button></td>
            </tr>
            <tr>
              <td>André Castanho</td>
              <td>13/10/2025 21:31:46</td>
              <td><button class="details-button">Ver detalhes</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
