<body>
  <app-user-menu></app-user-menu>

  <div class="main-content">
    <h1>Dashboard</h1>
    <div class="dashboard-cards">
      <div class="card green">
        <h2>Número de créditos de carbono</h2>
        <div>
          <img src="images/CO2-W.png"/>
          <p> 21</p>
        </div>
      </div>
      <div class="card yellow">
        <h2>Projetos em curso</h2>
        <div>
          <img src="images/OnGoingProjects.png" />
          <p> 4</p>
        </div>
      </div>
      <div class="card blue">
        <h2>Total de Emissões</h2>
        <p>tCO<sub>2</sub>: 1021</p>
      </div>
    </div>

    <div class="table-container">
      <div class="table">
        <h2>Últimas Compras</h2>
        <table>
          <thead>
            <tr>
              <th>Vendedor</th>
              <th>Data</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rúben Dámaso</td>
              <td>9/10/2025 18:36:23</td>
              <td><button class="details-button">Ver detalhes</button></td>
            </tr>
            <tr>
              <td>Rodrigo Santos</td>
              <td>13/10/2025 21:31:46</td>
              <td><button class="details-button">Ver detalhes</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table">
        <h2>Últimas Vendas</h2>
        <table>
          <thead>
            <tr>
              <th>Comprador</th>
              <th>Data</th>
              <th>Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>João Fernandes</td>
              <td>9/10/2025 18:36:23</td>
              <td><button class="details-button">Ver detalhes</button></td>
            </tr>
            <tr>
              <td>André Castanho</td>
              <td>13/10/2025 21:31:46</td>
              <td><button class="details-button">Ver detalhes</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
