body {
  font-family: 'Poppins', sans-serif;
  color: black;
  margin: 0px !important;
  display: flex;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px 150px 0 150px;
}

.main-content h1 {
  margin-bottom: 20px;
}

.dashboard-cards {
  display: flex;
  gap: 100px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card.green {
  background-color: var(--main-color);
}

.card div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card.green h2 {
  margin-bottom: 0 !important;
}

.card p {
  font-size: 28px;
  font-weight: bold;
}

.card.yellow {
  background-color: #EEBF32;
}

.card.blue {
  background-color: #66B1EC;
}

.table-container {
  display: flex;
  gap: 100px;
  padding-top: 50px;
}

.table {
  flex: 1;
  background: #EEE;
  border-radius: 10px;
  padding: 20px;
}

.table thead {
  background-color: #D3E2D0;
}

.table h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.details-button {
  padding: 5px 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #45a049;
}

/* Responsive */
@media (max-width: 1200px) {
  .dashboard-cards {
    flex-direction: column;
  }

  .table-container {
    flex-direction: column;
  }
}

/* Gráficos */
.charts {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.chart-box {
  width: 400px;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.line {
  width: 600px;
}

.chart {
  width: 100%;
}

/* Botão Exportar */
.export-btn {
  background-color: var(--main-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}