<div class="card">
  <img [src]="imageUrl" alt="{{ name }}" [routerLink]="['/marketplace/project', projectID]" style="cursor: pointer;">
  <div class="card-title" [routerLink]="['/marketplace/project', projectID]" style="cursor: pointer;">
    <p>{{ name }}</p>
  </div>
  <div class="card-content">
    <p class="credits-available">
      {{ creditsAvailable }} Créditos de Carbono em stock
    </p>
    <div class="card-footer">
      <input type="number" [(ngModel)]="quantity" min="1" (change)="validateQuantity()" required>
      <span>{{ pricePerCredit }}€</span>
      <button class="buy-btn" (click)="addToCart()" [disabled]="quantity < 1">Adicionar ao Carrinho</button>
    </div>
  </div>

</div>
