<!--<body>

  <div class="recover-container">
    <div class="recover-box">
      <h1>Recuperar palavra-passe</h1>
      <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">

        <label for="password">
          <i class="fa fa-envelope"></i> Palavra-passe
        </label>
        <input id="password" type="password" placeholder="Indique a palavra-passe" formControlName="password" required />

        <label for="password-confirmation">
          <i class="fa fa-envelope"></i> Confirmar a palavra-passe
        </label>
        <input id="password-confirmation" type="password" placeholder="Confime a palavra-passe" formControlName="password-confirmation" required />

        <button type="submit" class="register-button">Guardar</button>
      </form>
    </div>
    <div class="info-box">
      <div class="logo-title">
        <div class="logo">
          <img src="/images/CV_Logo.png" alt="Carbon Vault Logo" />
        </div>
        <h2>Carbon Vault</h2>
      </div>
      <div class="highlight">ABC</div>
      <p>A plataforma de comércio de Créditos de carbono mais completa do país!</p>
      <div class="plant-icon">
        <img src="/images/PlantIcon.png" alt="Planta" />
      </div>
    </div>
  </div>


</body>-->
