<body>
  <app-alerts></app-alerts>

  <div class="recover-container">
    <div class="recover-box">
      <h1>Nova Palavra-Passe</h1>
      <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">

        <label for="password">
          <i class="fa fa-envelope"></i> Palavra-passe
        </label>
        <div class="password-container">
          <input id="password" type="password" placeholder="Escolha uma Password" formControlName="password" required
            (input)="updatePasswordStrength()" (focus)="showTooltip = true" (blur)="showTooltip = false" />
          <div class="tooltip" *ngIf="showTooltip">
            <p [class.valid]="passwordLength">✔ Mínimo de 8 caracteres</p>
            <p [class.valid]="passwordUpperCase">✔ Pelo menos uma letra maiúscula</p>
            <p [class.valid]="passwordLowerCase">✔ Pelo menos uma letra minúscula</p>
            <p [class.valid]="passwordSpecialChar">✔ Pelo menos um caractere especial</p>
          </div>
        </div>

        <label for="passwordConfirmation">
          <i class="fa fa-envelope"></i> Confirmar a palavra-passe
        </label>
        <input id="passwordConfirmation" type="password" placeholder="Confirme a palavra-passe"
          formControlName="passwordConfirmation" required />

        <button type="submit" class="recover-button">Guardar</button>
      </form>
    </div>
    <div class="info-box">
      <div class="logo-title">
        <div class="logo">
          <img src="/images/CV_Logo.png" alt="Carbon Vault Logo" />
        </div>
        <h2>Carbon Vault</h2>
      </div>
      <div class="highlight">ABC</div>
      <p>A plataforma de comércio de Créditos de carbono mais completa do país!</p>
      <div class="plant-icon">
        <img src="/images/PlantIcon.png" alt="Planta" />
      </div>
    </div>
  </div>
</body>