/* Geral */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-color) !important;
  color: #fff;
  margin: 0px !important;
}

/* Container principal */
.register-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 15%;
}

/* Caixa de registro */
.register-box {
  background-color: #fff;
  color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 40%;
  text-align: center;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .register-box h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .register-box label {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
  }

  .register-box input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid black;
  }

.register-box .register-button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 20px;
}

    .register-box .register-button:hover {
      background-color: var(--main-color);
    }

  .register-box .login-link {
    margin-top: 20px;
    font-size: 17px;
    color: black;
  }

    .register-box .login-link a {
      color: var(--main-color);
      text-decoration: none;
    }

      .register-box .login-link a:hover {
        text-decoration: underline;
      }

/* Caixa de informações */
.info-box {
  width: 40%;
  text-align: center;
}

  .info-box h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .info-box p {
    font-size: 20px;
    line-height: 1.5;
  }

.highlight {
  position: relative;
  z-index: 9;
  top: 48px;
  left: 185px;
  width: 340px;
  background-color: #eee;
  opacity: 60%;
  color: #eee;
}

.logo img,
.plant-icon img {
  width: 150px;
  margin-bottom: 20px;
}
