<header class="marketplace-header">
  <div class="logo">
    <img src="/images/CV_Logo.png" alt="Carbon Vault Logo">
    <span>Carbon Vault</span>
  </div>
  <nav class="nav">
    <a *ngIf="isUserLoggedIn" href="/projetos">Projetos</a>
    <a *ngIf="isUserLoggedIn" href="/carrinho"> <img src="/images/cart.svg"/> Carrinho </a>
    <button *ngIf="isUserLoggedIn" class="profile-btn">G</button>
    <button #loginBtn class="logout-btn">Terminar sessão</button>
  </nav>
</header>

<main class="marketplace-main">
  <div class="controls">
    <button class="filter-btn" #filterBtn (click)="changeFiltersWindowState()"> <img src="/images/select arrows.svg" /> <span #filterValue> Ordenar Por </span>  <img src="/images/arrow down.svg" /></button>
    <div *ngIf="isFiltersWindowVisible" class="filter-options">
      <ul>
        <li (click)="changeFilterOption($event)" data-value="Alfabetica Asc"> Alfabetica Asc </li>
        <hr />
        <li (click)="changeFilterOption($event)" data-value="Alfabetica Desc"> Alfabetica Desc </li>
        <hr />
        <li (click)="changeFilterOption($event)" data-value="Preço Asc"> Preço Asc </li>
        <hr />
        <li (click)="changeFilterOption($event)" data-value="Preço Desc"> Preço Desc </li>
      </ul>
    </div>
    <img class="search-icon" src="/images/search.svg" /> <input type="text" (input)="changeSearchValue($event)" class="search" placeholder="Pesquisa">
  </div>

  <div class="grid">
    <app-projectCard *ngFor="let project of projectsToShow"
                      [name]="project.name"
                      [imageUrl]="project.imageUrl"
                      [pricePerCredit]="project.pricePerCredit"
                      [quantity]="project.quantity">
    </app-projectCard>
  </div>
</main>
