

<app-market-place-navigation></app-market-place-navigation>
<main class="marketplace-main">
  <div class="controls">
    <button class="filter-btn" #filterBtn (click)="changeFiltersWindowState()"> <img src="/images/select arrows.svg" /> <span #filterValue> Ordenar Por </span>  <img src="/images/arrow down.svg" /></button>
    <div *ngIf="isFiltersWindowVisible" class="filter-options">
      <ul>
        <li (click)="changeFilterOption($event)" data-value="Alfabetica Asc"> Alfabetica Asc </li>
        <hr />
        <li (click)="changeFilterOption($event)" data-value="Alfabetica Desc"> Alfabetica Desc </li>
        <hr />
        <li (click)="changeFilterOption($event)" data-value="Preço Asc"> Preço Asc </li>
        <hr />
        <li (click)="changeFilterOption($event)" data-value="Preço Desc"> Preço Desc </li>
      </ul>
    </div>
    <img class="search-icon" src="/images/search.svg" /> <input type="text" (input)="changeSearchValue($event)" class="search" placeholder="Pesquisa">
  </div>

  <div class="grid">
    <app-projectCard *ngFor="let project of projectsToShow"
                     [name]="project.name"
                     [description]="project.description"
                     [imageUrl]="project.imageUrl"
                     [pricePerCredit]="project.pricePerCredit"
                     [quantity]="project.quantity"
                     [projectID]="project.id"
                     [creditsAvailable]="project.creditsForSale">

    </app-projectCard>
  </div>
</main>

<app-alerts></app-alerts>
