/* Header */

.marketplace-main {
  font-family: 'Poppins', sans-serif;
  width: 70%;
  margin: 0 auto;
}
::placeholder{
  color: #ddd;
}
.controls {
  display: flex;
  justify-content: flex-start;
  margin-block: 2.5rem;
  gap: 15.1rem;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.8rem;
  background-color: var(--main-color);
  width: 250px;
  color: #fff;
  margin-inline-start: 23px;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

  .filter-btn img {
    width: 20px;
    height: 20px;
  }

  .filter-btn :nth-child(4) {
    position: absolute;
    margin-inline-start: auto;
    width: 15px;
    height: 15px;
  }

  .filter-btn span {
    width: 300px;
    color: #fff;
    font-size: 1rem;
  }

.filter-options {
  display: block;
  border-radius: 15px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 3px #ddd;
  width: 250px;
  margin-top: 40px;
  margin-left: 20px;
  padding: 1rem 0;
}

  .filter-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .filter-options ul hr{
    padding: 0;
    margin: 0;
  }

  .filter-options ul li {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .filter-options ul li:hover {
    background-color: #4EA741;
  }

.search {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.8rem;
  background-color: var(--main-color);
  width: 250px;
  color: #fff;
  border: 1px solid #ddd;
  padding: 0.5rem 2.2rem 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  left: 820px;
  top: 170px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 3rem;
  font-family: 'Poppins', sans-serif;
}
