<body>
    <app-user-menu></app-user-menu>
  
    <!-- Confirm Delet Popup -->
    <div class="modal-overlay" id="modalOverlay">
      <div class="delete" id="delete">
        <div class="delete-content">
          <p class="delete-heading">Deseja mesmo eliminar este projeto?</p>
          <img src="images/DeleteBin.png" />
          <p class="delete-description">Esta ação irá eliminar permanentemente o projeto e toda a informação associada.</p>
        </div>
        <div class="delete-button-wrapper">
          <button class="delete-button secondary" >Cancelar</button>
          <button class="delete-button primary" >Eliminar</button>
        </div>
        <button class="exit-button" >
          <svg height="20px" viewBox="0 0 384 512">
            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"></path>
          </svg>
        </button>
      </div>
    </div>
  
    <div class="main-content">
      <h1>Gestão de Projetos</h1>
      <div class="stats">
        <div class="card yellow">
          <h3>Número Total de Projetos Disponíveis</h3>
          <div>
            <img src="images/OnGoingProjects.png" class="icon" />
            <h2 class="value">{{projects.length}}</h2>
          </div>
        </div>
        <div class="card strongBlue">
          <h3>Número de projetos ativos</h3>
          <div>
            <img src="images/OnGoingProjects.png" />
            <h2>{{ filterActiveProjects() }}</h2>
          </div>
        
        </div>
      </div>
      <div class="project-table">
        <div class="table-header">
          <h2>Projetos Disponiveis</h2>
          <button class="add-btn">+ Adicionar</button>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Preço (€ / tCO2e)</th>
              <th>Data de criação</th>
              <th>Estado</th>
              
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let projet of projects">
              <td>{{ projet.id }}</td>
              <td>{{ projet.name }}</td>
              <td>{{projet.pricePerCredit}}</td>
              <td>{{projet.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{getProjectStatus(projet.status)}}</td>
               
             
              <td><button class="delete-btn" >Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <app-alerts></app-alerts>
  
  </body>
  