<body>
  <app-user-menu></app-user-menu>

  <div class="main-content">
    <!--<h1>Os Meus Projetos</h1>-->

    <div class="transaction-details">
      <div class="section-title">Os Meus Projetos</div>
      <table class="transaction-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Creditos Disponiveis</th>
            <th>Developer</th>
            <th>Preço</th>
            <th>Estado</th>
            <th>Beneficios</th>
            <th>À Venda</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of myProjects">
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.carbonCreditsGenerated }} CC</td>
            <td>{{ project.developer }}</td>
            <td>{{ project.pricePerCredit }}€</td>
            <td>{{ getProjectStatus(project.status) }}</td>
            <td>{{ project.benefits }}</td>
            <td>{{ project.forSale === 1 ? 'Sim' : 'Não' }}</td>
            <td>
              <button (click)="editBtn(project.id)" class="toggle-sale-btn">Editar</button>
            </td>
          </tr>

          <!-- If myProjects is empty, show "No information to show" -->
          <tr *ngIf="myProjects.length === 0">
            <td colspan="10" class="no-data">Não tem nenhum projeto..</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
