<app-market-place-navigation></app-market-place-navigation>
<app-alerts></app-alerts>
<main>
  <div class="project-details">
    <h1>{{ projectData.name }}</h1>

    <img class="project-image" [src]="projectData.imageUrl" alt="{{ projectData.name }}">

    <p class="project-description">
      {{ projectData.description }}
    </p>
    <div class="benefits">
      <div class="type-images">
        <img class="typesIcon" *ngFor="let type of projectData.types" [src]="'/icons/Goal' + (type.type + 1) + '.png'"
             [alt]="'Goal ' + (type.type + 1)">
      </div>
    </div>
    <div class="benefits">
      <h2>Benefícios e Impactos do Projeto</h2>
      <p>{{ projectData.benefits }}</p>
    </div>

    <div class="benefits">
    </div>

    <!-- Tabela de Creditos Disponiveis -->
    <div *ngIf="showMetadata" class="metadata-popup">
      <div class="popup-content">
        <button style="cursor: pointer;" class="close-btn" (click)="showMetadata = false">&times;</button>
        <p>Aqui pode ver os ({{ projectData.creditsForSale }}) Créditos disponiveis para este projeto</p>
        <table>
          <tr>
            <th>Serial Number</th>
            <th>Certificação</th>
            <th>Válido Até</th>
          </tr>
          <tr *ngIf="getFilteredCredits().length === 0">
            <td colspan="4" style="text-align: center;">Não existem Créditos disponiveis para mostrar</td>
          </tr>
          <tr *ngFor="let credit of getPagedCredits()">
            <td>{{ credit.serialNumber }}</td>
            <td>{{ credit.certification }}</td>
            <td>{{ credit.expiryDate | date: 'shortDate' }}</td>
          </tr>
        </table>

        <!-- Pagination Controls -->
        <div class="pagination">
          <button (click)="changePage(-1)" [disabled]="currentPage === 1">Anterior</button>
          <span>Página {{ currentPage }} de {{ getTotalPages() }}</span>
          <button (click)="changePage(1)" [disabled]="currentPage === getTotalPages()">Seguinte</button>
        </div>
      </div>
    </div>

    <div class="price-section">
      <p><strong>{{ projectData.pricePerCredit }}€ / Tonelada</strong></p>

      <div>
        <p>
          {{ projectData.creditsForSale }} Créditos de Carbono em stock
          <svg style="width: 19px; cursor: pointer;" viewBox="0 0 24 24" fill="none" (click)="showMetadata = true" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <circle cx="12" cy="12" r="10" stroke="#8f8f8f" stroke-width="1.5"></circle>
              <path d="M12 17V11" stroke="#8f8f8f" stroke-width="1.5" stroke-linecap="round"></path>
              <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="#8f8f8f"></circle>
            </g>
          </svg>
        </p>
      </div>

      <div class="cart-controls">
        <label for="quantity">Quantidade</label>
        <input id="quantity" type="number" min="1" [(ngModel)]="quantity" [value]="quantity" (change)="validateQuantity()">

        <button class="add-to-cart" (click)="addToCart()" [ngClass]="{ 'disabled-btn': carbonCredits.length === 0 }">
          Adicionar ao Carrinho
        </button>
      </div>
    </div>
  </div>

</main>
