<body>
  <nav>
    <div>
      <div class="title">
        <img src="images/CV_Logo.png" class="logo" />
        <span class="navbar-title">Carbon Vault</span>
      </div>

      <div class="user-profile">
        <div class="user-circle">
          <span class="user-initial">A</span>
        </div>
        <span class="user-name">Admin</span>
      </div>

      <h2 class="menu-title">MENU</h2>

      <ul class="menu">
        <li>
          <div class="active"></div>
          <img src="images/menu/DashboardIcon.png" class="menu-icon" />
          <a href="/admin-dashboard">Dashboard</a>
        </li>
        <li>
          <img src="images/menu/UserIcon.png" class="menu-icon" />
          <a href="#">Gestão de  Utilizadores</a>
        </li>
        <li>
          <img src="images/menu/PurchasesIcon.png" class="menu-icon" />
          <a href="#">Gestão de Compras</a>
        </li>
        <li>
          <img src="images/menu/ProjectsIcon.png" class="menu-icon" />
          <a href="#">Gestão de Projetos</a>
        </li>
        <li>
          <img src="images/menu/RelatoriosIcon.png" class="menu-icon" />
          <a href="#">Relatórios</a>
        </li>
        <li>
          <img src="images/menu/TicketsIcon.png" class="menu-icon" />
          <a href="#">Tickets</a>
        </li>
        <li>
          <img src="images/menu/MarketplaceIcon.png" class="menu-icon" />
          <a href="#">Marketplace</a>
        </li>
        <li>
          <img src="images/menu/SettingsIcon.png" class="menu-icon2" />
          <a href="#">Definições</a>
        </li>
        <li>
          <img src="images/menu/LogoutIcon.png" class="menu-icon2" />
          <a href="#" class="logout">Terminar Sessão</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Conteúdo Principal -->
  <main class="dashboard">
    <h1>Admin Dashboard</h1>
    <div class="cards">
      <div class="card orange">
        <h3>Número Diário de Visitas</h3>
        <div>
          <img src="images/ViewsIconB.png" class="icon" />
          <span class="value">20</span>
        </div>
      </div>
      <div class="card blue">
        <h3>Número Total de Utilizadores</h3>
        <div>
          <img src="images/UserIconW.png" class="icon" />
          <span class="value">50</span>
        </div>
      </div>
      <div class="card yellow">
        <h3>Número Total de Projetos Disponíveis</h3>
        <div>
          <img src="images/OnGoingProjects.png" class="icon" />
          <span class="value">25</span>
        </div>
      </div>
      <div class="card purple">
        <h3>Número de Transações Feitas</h3>
        <div>
          <img src="images/TransactionsIconB.png" class="icon" />
          <span class="value">10</span>
        </div>
      </div>
      <div class="card green">
        <h3>Número Total de Créditos de Carbono Disponíveis</h3>
        <div>
          <img src="images/CO2-W.png" />
          <span class="value"> 100</span>
        </div>
      </div>
    </div>

    <div class="charts">
      <div class="chart-box">
        <h2>Compras</h2>
        <span class="big-number">1500</span>
        <span class="small-text">⬇ 2.1% semana anterior</span>
        <img src="images/OrderStatsIcon.png" class="chart" />
        <button class="export-btn">Exportar</button>
      </div>

      <div class="chart-box">
        <h2>Período de Atividade</h2>
        <span class="small-text">De 1-6 Dez, 2025</span>
        <img src="images/OrderTimeIcon.png" class="chart" />
        <button class="export-btn">Exportar</button>
      </div>
    </div>

  </main>

</body>
