<body>


  <!-- Conteúdo Principal -->
  <main class="dashboard">
    <h1>Admin Dashboard</h1>
    <div class="cards">
      <div class="card orange">
        <h3>Número Diário de Visitas</h3>
        <div>
          <img src="images/ViewsIconB.png" class="icon" />
          <span class="value">20</span>
        </div>
      </div>
      <div class="card blue">
        <h3>Número Total de Utilizadores</h3>
        <div>
          <img src="images/UserIconB.png" class="icon" />
          <span class="value">50</span>
        </div>
      </div>
      <div class="card yellow">
        <h3>Número Total de Projetos Disponíveis</h3>
        <div>
          <img src="images/OnGoingProjects.png" class="icon" />
          <span class="value">25</span>
        </div>
      </div>
      <div class="card purple">
        <h3>Número de Transações Feitas</h3>
        <div>
          <img src="images/TransactionsIconB.png" class="icon" />
          <span class="value">10</span>
        </div>
      </div>
      <div class="card green">
        <h3>Número Total de Créditos de Carbono Disponíveis</h3>
        <div>
          <img src="images/CO2-B.png" />
          <span class="value"> 100</span>
        </div>
      </div>
    </div>

    <div class="charts">
      <div class="chart-box line">
        <!--<h2>Compras</h2>
        <span class="big-number">1500</span>
        <span class="small-text">⬇ 2.1% semana anterior</span>
        <img src="images/OrderStatsIcon.png" class="chart" />
        <button class="export-btn">Exportar</button>-->
        <canvas id="MyLineChart">{{ lineChart }}</canvas>
        <button class="export-btn">Exportar</button>
      </div>

      <div class="chart-box">
        <!--<h2>Período de Atividade</h2>
        <span class="small-text">De 1-6 Dez, 2025</span>
        <img src="images/OrderTimeIcon.png" class="chart" />-->
        <canvas id="MyCircularChart">{{ circularChart }}</canvas>
        <button class="export-btn">Exportar</button>
      </div>
    </div>

  </main>

</body>
