<body>
  <nav>
    <div>
      <div class="title">
        <img src="images/CV_Logo.png" class="logo" />
        <span class="navbar-title">Carbon Vault</span>
      </div>

      <div class="user-profile">
        <div class="user-circle">
          <span class="user-initial">G</span>
        </div>
        <span class="user-name">Gonçalo</span>
      </div>

      <h2 class="menu-title">MENU</h2>

      <ul class="menu">
        <li>
          <img src="images/menu/DashboardIcon.png" class="menu-icon" />
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <div class="active"></div>
          <img src="images/menu/EmissionsIcon.png" class="menu-icon" />
          <a href="/user-emissions">As minhas Emissões</a>
        </li>
        <li>
          <img src="images/menu/ProjectsIcon.png" class="menu-icon" />
          <a href="#">Os meus Projetos</a>
        </li>
        <li>
          <img src="images/menu/PurchasesIcon.png" class="menu-icon" />
          <a href="#">As minhas Compras</a>
        </li>
        <li>
          <img src="images/menu/SalesIcon.png" class="menu-icon" />
          <a href="#">As minhas Vendas</a>
        </li>
        <li>
          <img src="images/menu/RelatoriosIcon.png" class="menu-icon" />
          <a href="#">Relatórios</a>
        </li>
        <li>
          <img src="images/menu/MarketplaceIcon.png" class="menu-icon" />
          <a href="#">Marketplace</a>
        </li>
        <li>
          <img src="images/menu/SettingsIcon.png" class="menu-icon2" />
          <a href="#">Definições</a>
        </li>
        <li>
          <img src="images/menu/LogoutIcon.png" class="menu-icon2" />
          <a href="#" class="logout">Terminar Sessão</a>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="content">
      <h1>As minhas emissões - 2025</h1>
      <div class="form-group">
        <label>Consumo de Electricidade</label>
        <input type="text" value="50">
        <span>MWh</span>
      </div>
      <div class="form-group">
        <label>Consumo de Gasolina</label>
        <input type="text" value="24000">
        <span>L</span>
      </div>
      <div class="form-group">
        <label>Consumo de Gasóleo</label>
        <input type="text" value="400000">
        <span>L</span>
      </div>
      <div class="form-group" id="form-total">
        <label>Total de Emissões</label>
        <input type="text" value="1136.89">
        <span>tCO2e</span>
      </div>
      <!--<div class="total">
    Total de Emissões: <span>1136.89</span> tCO2e
  </div>-->
      <button class="save-button">Guardar</button>
    </div>
  </main>
  <div class="notifications">
    <div class="icon">
      <img src="images/notificationsIcon.png" alt="Notificações" class="noti-icon">
      <span>2</span>
    </div>
  </div>
</body>
