<body>
  <app-user-menu></app-user-menu>
  <app-alerts></app-alerts>

  <main>
    <app-go-back-button></app-go-back-button>
    <form [formGroup]="emissionsForm" (ngSubmit)="onSubmit()" class="content">
      <h1>As minhas emissões - 2025</h1>
      <div class="form-group">
        <label>Consumo de Electricidade</label>
        <input type="text" value="0" id="electricity" formControlName="electricity">
        <span>MWh</span>
      </div>
      <div class="form-group">
        <label>Consumo de Gasolina</label>
        <input type="text" value="0" id="petrol" formControlName="petrol">
        <span>L</span>
      </div>
      <div class="form-group">
        <label>Consumo de Gasóleo</label>
        <input type="text" value="0" id="diesel" formControlName="diesel">
        <span>L</span>
      </div>
      <div class="form-group" id="form-total">
        <label>Total de Emissões</label>
        {{ totalEmissions }}
        <span>tCO2e</span>
      </div>
      <button class="save-button">Guardar</button>
    </form>
  </main>
  <!--<div class="notifications">
    <div class="icon">
      <img src="images/notificationsIcon.png" alt="Notificações" class="noti-icon">
      <span>2</span>
    </div>
  </div>-->
</body>