/* Geral */

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-color) !important;
  color: #fff;
  margin: 0px !important;
}

/* Container principal */
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 15%;
}

/* Caixa de login */
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 40%;
  height: 50%;
  text-align: center;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .login-box h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .login-box label {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
  }

  .login-box input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid black;
  }

.forgot-password {
  display: block;
  margin: 30px 0;
  font-size: 0.9rem;
  color: var(--main-color);
  opacity: 80%;
  text-align: right;
  text-decoration: none;
}

  .forgot-password:hover {
    text-decoration: underline;
  }

.login-button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

  .login-button:hover {
    background-color: #45a049;
  }

.signup {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 17px;
  color: black;
}

  .signup a {
    color: var(--main-color);
    text-decoration: none;
  }

    .signup a:hover {
      text-decoration: underline;
    }

/* Caixa de informações */
.info-box {
  width: 40%;
  text-align: center;
}

  .info-box h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .info-box p {
    font-size: 20px;
    line-height: 1.5;
  }

.info-box span {
  background-color: rgba(238, 238, 238, 0.4);
}

.logo img,
.plant-icon img {
  width: 150px;
  margin-bottom: 20px;
}

