<body class="login-body">

  <div class="login-container">
    <div class="login-box">
      <h1>Bem-vindo!</h1>
      <form>
        <label for="email">E-mail</label>
        <input id="email" type="email" placeholder="Introduza o seu e-mail" />

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Introduza a password" />

        <a class="forgot-password" href="#">Esqueceu a sua palavra-passe?</a>

        <button type="submit" class="login-button">Login</button>
      </form>
      <p class="signup">
        Ainda não tem conta? <a href="register">Inscreva-se agora!</a>
      </p>
    </div>
    <div class="info-box">
      <div class="logo-title">
        <div class="logo">
          <img src="/images/CV_Logo.png" alt="Carbon Vault Logo" />
        </div>
        <h2>Carbon Vault</h2>
      </div>
      <div class="highlight">ABC</div>
      <p>A plataforma de comércio de Créditos de carbono mais completa do país!</p>
      <div class="plant-icon">
        <img src="/images/PlantIcon.png" alt="Planta"/>
      </div>
    </div>
  </div>


</body>
