.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 18%;
}

.cart-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 11px;
    text-align: center;
    margin-top: 100px;
}

.cart-back{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 11px;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 50px;
}

.cart-back > a{
    color: #4EA741;
}

.cart-table{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 11px;
    color: #000000;
    margin-inline: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    user-select: none;
}
 
  .cart-table th, 
  .cart-table td {
    padding: 25px;
    border-bottom: 1px solid #ddd;
  }

  .cart-table th {
    width: 15%;
  }

  .cart-table th:first-child {
    width: 55%;
  }

  
  
  .cart-button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

  }

  .cart-remove{
    text-decoration-line: underline;
    text-align: left;
    color: #E35656;
  }

  .subtotal{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 11px;
    text-align: end;
    margin-top: 150px;
  }

  .checkout{
width: 159px;
    border: none;
    height: 42px;
    background: #4EA741;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 11px;
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-top: 50px;
    cursor: pointer;
  }
  .checkout:hover{
 
      background-color: #3d6836; 
   
  }
  #nothingToShow{
    text-align: center;
    border-bottom: none;
    color: #69b45d;
    font-weight: bold;
  }
  .termos{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 11px;
    color: #000000;
    margin-left: auto;
    margin-top: 50px;
  }

  .termos > a{
    color: gray;
  }



/* Confirm Delte Popup */
.modal-overlay {
  font-family: 'Poppins';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /*pointer-events: none;*/
  display: none;
  z-index: 999;
}

.delete {
  width: 600px;
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1000;
  display: none;
}

.delete-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

  .delete-content img {
    width: 60px;
    height: 60px;
  }

.delete-heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(27, 27, 27);
}

.delete-description {
  font-weight: 300;
  color: rgb(102, 102, 102);
}

.delete-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.delete-button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}

  .primary:hover {
    background-color: rgb(255, 73, 66);
  }

.secondary {
  background-color: #ddd;
}

  .secondary:hover {
    background-color: rgb(197, 197, 197);
  }

.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

  .exit-button:hover svg {
    fill: black;
  }

  .exit-button svg {
    fill: rgb(175, 175, 175);
  }
