<body>
  <app-user-menu></app-user-menu>

  <div class="main-content">
    <!-- Client Details -->
    <div class="client-details">
      <h2 class="client-name">Transações Realizadas</h2>

      <div class="client-details-container">
        <!-- Purchase History -->
        <div class="purchase-history">
          <h3 class="table-header">Transações Efectuadas pelos Utilizadores</h3>

          <table class="purchase-history-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Utilizador #ID</th>
                <th>Tipo</th>
                <th>Data</th>
                <th>Estado de Pagamento</th>
        
                <th>Detalhes</th>
                <th>Recolha de Fundos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="accountTransactions.length === 0">
                <td colspan="7" class="text-center">Nada a mostrar</td>
              </tr>
              <tr *ngFor="let transaction of accountTransactions">
                <td>{{ transaction.id }}</td>
                <td>{{ getAccountName(transaction.buyerId) }} #{{ transaction.buyerId }}</td>
                <td>Compra</td>
                <td>{{ transaction.date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>
                  <span class="payment-status">{{ getTransactionState(transaction.state) }}</span>
                
                </td>
                
                <td><button class="view-btn" (click)="transactionDetails(transaction.id)">Detalhes</button></td>
                <td style="display: flex; flex-direction: column; align-items: center;">
                  <span class="status">
                    <span class="status-dot" [ngClass]="{ 'claimed': transaction.isClaimed, 'unclaimed': !transaction.isClaimed }"></span> {{ getTransactionIsClaimedState(transaction.isClaimed) }}
                  </span>
                 
                  <button class="view-btn" [disabled]="transaction.isClaimed" (click)="processPayment(transaction.id)">Realizar Pagamento offline</button>
                  
                
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <app-alerts></app-alerts>

</body>
