<body>
  <nav>
    <div>
      <div class="title">
        <img src="images/CV_Logo.png" class="logo" />
        <span class="navbar-title">Carbon Vault</span>
      </div>

      <div class="user-profile">
        <div class="user-circle">
          <span class="user-initial">A</span>
        </div>
        <span class="user-name">Admin</span>
      </div>

      <h2 class="menu-title">MENU</h2>

      <ul class="menu">
        <li>
          <div class="active"></div>
          <img src="images/menu/DashboardIcon.png" class="menu-icon" />
          <a href="/admin-dashboard">Dashboard</a>
        </li>
        <li>
          <img src="images/menu/UserIconB.png" class="menu-icon" />
          <a href="/users-manager">Gestão de  Utilizadores</a>
        </li>
        <li>
          <img src="images/menu/PurchasesIcon.png" class="menu-icon" />
          <a href="/admin-dashboard">Gestão de Compras</a>
        </li>
        <li>
          <img src="images/menu/ProjectsIcon.png" class="menu-icon" />
          <a href="/admin-dashboard">Gestão de Projetos</a>
        </li>
        <li>
          <img src="images/menu/RelatoriosIcon.png" class="menu-icon" />
          <a href="/admin-dashboard">Relatórios</a>
        </li>
        <li>
          <img src="images/menu/TicketsIcon.png" class="menu-icon" />
          <a href="/admin-dashboard">Tickets</a>
        </li>
        <li>
          <img src="images/menu/MarketplaceIcon.png" class="menu-icon" />
          <a href="/admin-dashboard">Marketplace</a>
        </li>
        <li>
          <img src="images/menu/SettingsIcon.png" class="menu-icon2" />
          <a href="/admin-dashboard">Definições</a>
        </li>
        <li>
          <img src="images/menu/LogoutIcon.png" class="menu-icon2" />
          <a href="#" class="logout">Terminar Sessão</a>
        </li>
      </ul>
    </div>
  </nav>
</body>
