<body>

  <nav class="navbar">
    <div class="navbar-logo">
      <img src="images/CV_Logo.png" alt="Carbon Vault Logo" class="logo">
      <span class="navbar-title">Carbon Vault</span>
    </div>
    <a routerLink="login" class="navbar-button">Entrar</a>
  </nav>


  <div class="hero-section">
    <div class="hero-image">
      <img src="/images/first.png" alt="Plant growing">
    </div>
    <div class="hero-content">
      <h1>Bem-vindo ao <span>Carbon Vault</span></h1>
      <p>A solução <span>SUSTENTÁVEL</span> para a sua empresa</p>
      <div class="hero-buttons">
        <button class="secondary-button">Como funciona?</button>
        <button class="primary-button">Começar a comprar</button>
      </div>
    </div>
  </div>

  <section class="info-section">
    <h2>Créditos de <span>Carbono</span>?</h2>
    <div class="info-cards">
      <div class="info-card">
        <img src="/images/CC1.png" />
        <h3>O Que São Créditos de Carbono?</h3>
        <p>
          Os créditos de carbono representam a redução ou remoção de uma tonelada de CO2 da atmosfera. Comprar esses créditos
          significa apoiar projetos que combatem as mudanças climáticas, como reflorestamento e energias renováveis.
        </p>
      </div>
      <div class="info-card">
        <img src="/images/CC2.png" />
        <h3>Por que é que me devo importar?</h3>
        <p>
          Investir em créditos de carbono é uma maneira eficaz de compensar suas próprias emissões de carbono e cumprir com
          metas ambientais. É um compromisso com a sustentabilidade e a preservação do nosso planeta.
        </p>
      </div>
      <div class="info-card">
        <img src="/images/CC3.png" />
        <h3>O Impacto que Pode Gerar</h3>
        <p>
          Cada crédito de carbono adquirido ajuda a financiar projetos de grande impacto, promovendo a regeneração
          ambiental e o desenvolvimento de tecnologias limpas. Ao participar, você contribui para um futuro mais verde e equilibrado.
        </p>
      </div>
    </div>
  </section>

  <section class="steps-section">
    <div class="how-to">
      <div class="how-to-txt">
        <h2>Como começar?</h2>
        <p>Com o nosso intuitivo marketplace vai conseguir adquirir os seus créditos com facilidade e rapidez</p>
      </div>
      <ol class="steps-grid">
        <li>1. Comece por fazer <strong>Registo</strong> ou <strong>Login</strong> na nossa plataforma</li>
        <li>2. Navegue pelo nosso marketplace e escolha um projeto que queira investir</li>
        <li>3. Realize o pagamento com o nosso sistema de pagamentos intuitivo</li>
        <li>4. E por fim Receba o seu Certificado!</li>
      </ol>
    </div>
    <img src="/images/PlantIcon.png" />
    <p class="steps-section-footer">Simples • Intuitivo • Fantástico</p>
  </section>

  <section class="evaluation-section">
    <img src="/images/img1.png" />
    <h2>Recomendação das Emissões?</h2>
    <p>
      Com o nosso serviço de avaliação de Emissões podemos ajuda-lo a obter um relatório completo com recomendações eficazes
    </p>
    <button class="evaluation-section-btn">Pedir Avaliação</button>
  </section>

  <section class="faq-section">
    <div class="faq-title">
      <h2>FAQ?</h2>
      <img src="/images/faq.png" />
    </div>
    <div class="faq-item">
      <p>Como posso comprar?</p>
      <span>x</span>
    </div>
    <div class="faq-item">
      <p>Como posso vender?</p>
      <span>x</span>
    </div>
    <div class="faq-item">
      <p>Como posso contactar-vos?</p>
      <span>x</span>
    </div>
  </section>

  <footer class="footer-section">
    <div class="footer-title">
      <div class="navbar-logo">
        <img src="images/CV_Logo.png" alt="Carbon Vault Logo" class="logo">
        <span class="navbar-title">Carbon Vault</span>
      </div>
    </div>
    <div class="footer-helper">
      <div class="footer-column">
        <h3>Contactos</h3>
        <p>933 522 885</p>
        <p>221 223 3323</p>
      </div>
      <div class="footer-column">
        <h3>Morada</h3>
        <p>Rua das girafas nº74</p>
        <p>3ºDRT</p>
        <p>Samouco</p>
      </div>
      <div class="footer-column">
        <h3>Siga-nos nas redes!</h3>
        <p>LinkedIn</p>
        <p>Youtube</p>
        <p>Instagram</p>
      </div>
    </div>
  </footer>


</body>
