<body>
    <app-user-menu></app-user-menu>
    <app-alerts></app-alerts>

    <main class="content">
        <div  class="unpaid-summary">
            <strong>Ainda tem <span style="color: white; font-size: 28px;">{{ totalUnpaid | number:'1.2-2' }}€</span> por receber.</strong><br>
            <span>O pagamento é feito offline por parte da equipa financeira do Carbon Vault , em caso de dúvida ou valor irregular por favor contacte o nosso <a href="mailto:support@carbonvault.com">Suporte</a>.</span><br>
        </div>
        <h1>As minhas vendas</h1>

        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>Data</th>
                        <th>Estado</th>
                        <th>Detalhes</th>
                </thead>
                <tbody>
                    <tr *ngIf="sales.length === 0">
                        <td colspan="4" class="text-center" id="nothingToShow">Nada a mostrar!</td>
                    </tr>
                    <tr *ngFor="let purchase of sales">
                        <td>{{purchase.projectName}}</td>
                        <td>{{purchase.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{getState(purchase.state)}}</td>
                        <td><button class="details-button" (click)="transactionDetails(purchase.id)">Ver
                                detalhes</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
     
    </main>

</body>
